UserSettings/
Logs/
Temp/
.vs/
obj/
Library/
Output/

.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor-firstpass.csproj
Graduation-Project.sln

.idea
/spine-csharp.csproj
/spine-unity.csproj
/spine-unity-editor.csproj
/Graduation-Project.sln
/Graduation-Project/*.csproj
/Server/Main/bin/Debug/*

UniWebView-CSharp.csproj
UniWebView-CSharp.Editor.csproj

/Output
/Graduation-Project/HybridCLRData


.DS_Store
**/*Graduation-Project_clone*/